.parent-div {
  width: 500px;
  height: 500px;
  background-color: grey;
}
.child-div {
  width: 100%;
  height: 250px;
  background-color: hsl(240, 45%, 47%);
}

@media (max-width: 785px) {
  .child-div {
    width: 100%;
    height: 250px;
    background-color: hsl(240, 44%, 47%);
  }
}

@media (min-width: 786px) {
  .child-div {
    width: 50%;
    height: 350px;
    background-color: hsl(60, 87%, 44%);
  }
}

@media (min-width: 1200px) {
  .child-div {
    width: 33.33%;
    height: 450px;
    background-color: hsl(131, 15%, 44%);
  }
}
