*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.title-container .bg-image {
  background-color: white;
  background-image: url("./assets/MicrosoftTeams-image.png");
  background-position: 75% 80%;
  background-size: 25%;
  background-repeat: no-repeat;
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  padding: 1.3rem;
}
.title-container .bg-image .pink-color {
  color: #db74d3;
}
.title-container .bg-image .black-color {
  color: hsl(0, 0%, 28%);
}

.programs-container {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
  border: 1px solid green;
}
/* ****programs filter******* */
.programs-filter {
  width: calc(100% / 3);
  /* background-color: #d8a3d4; */
  background-color: white;
  padding: 45px 40px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: sticky;
  /* transform: translateY(-50%); */
  top: 20px;
}
.programs-found {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4rem;
}
.form-control {
  margin: 1rem;
}
.form-control .form-label {
  display: block;
  font-weight: bold;
}
.form-control .form-select {
  border-style: none;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.form-control .form-select option {
  font-size: 0.8rem;
}
.programs-filter button {
  border-style: none;
  border: 1px solid hsl(240, 93%, 42%);
  color: hsl(240, 93%, 42%);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 0.8rem 1rem;
  width: 100%;
  background-color: hsla(0, 0%, 50%, 0);
}
/* ************* */
.programs-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3 * 2);
  /* background-color: #725870; */
}
.program-item {
  background-color: white;
  padding: 40px 40px 25px;
  position: relative;
  margin: 20px;
  width: calc(50% - 40px);
}
.program-image {
  width: 97px;
  height: 97px;
  object-fit: contain;
}

.program-feature-item {
  margin-right: 30px;
}
.program-item img {
  margin-right: 8px;
}
.program-extra {
  background-color: #db74d3;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: -15px;
  /* jei teksto bus daugiau */
  max-width: 255px;
}
