@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap");

* {
  font-family: "Zilla Slab", serif;
  font-size: 1.1rem;
}

body {
  background: hsl(0, 2%, 92%);
}

.title {
  font-size: 2.7rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

.large-button a {
  background-color: white;
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-button a:after {
  content: none;
}

.events .large-button a:after {
  content: none;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  /* display: flex; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  margin-top: 100px;
}
/* ----header----- */
header {
  background-color: hsl(0, 0%, 99%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 3rem 4px rgba(128, 128, 128, 0.384);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content nav {
  display: flex;
  align-items: center;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-navigation li {
  display: inline;
}

.main-navigation li a {
  padding: 10px;
  /* li a del ..inline-block.. elementas uzima savo auksti neuzeidamas ant salia esanciu elementu */
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a.button {
  background-color: hsl(244, 100%, 50%);
  color: hsl(240, 3%, 92%);
  padding: 12px 45px;
  margin-left: 1rem;
  border-radius: 50px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}
/* -->---main news ------ */
.news {
  margin-bottom: 50px;
}

.main-news {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.news-article {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}

.main-news .news-article {
  background-color: whitesmoke;
}

a.no-style {
  text-decoration: none;
  color: black;
}

.main-news .image-wrapper {
  height: 250px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-news .info-wrapper {
  padding: 38px;
}

span.article-category {
  text-transform: uppercase;
}

.secondary-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondary-news .news-article a {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 20px;
}

.secondary-news .news-article a .image-wrapper {
  height: 80px;
}

/* ----podcasts------ */
.podcast {
  background-color: whitesmoke;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 70px 1fr 70px;
  grid-template-areas: "image length play" "content content content";
}

.podcast-image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.podcast-time {
  grid-area: length;
  background-color: black;
  color: whitesmoke;
  display: grid;
  place-items: center;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.podcast-play {
  grid-area: play;
  background-color: whitesmoke;
}

.podcast-info {
  grid-area: content;
  padding: 15px;
}

.podcast-info h3 {
  margin-top: 0;
}
/* -----events------ */
.event {
  margin-bottom: 70px;
}
.event .image-wrapper {
  height: 270px;
}

.event-info {
  background-color: black;
  color: whitesmoke;
  padding: 50px 20px 20px;
  position: relative;
}

.event-date {
  text-align: center;
  width: 70px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: -40px;
}

.event-day {
  background-color: whitesmoke;
  color: black;
  font-size: 30px;
  padding: 7px;
}

.event-month {
  background-color: #e063d6;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 5px;
}
