@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap");

* {
  font-family: "Zilla Slab", serif;
  font-size: 1.1rem;
}
header {
  background-color: hsl(252, 8%, 49%);
  padding: 1rem 0 0;
  color: hsl(240, 1%, 82%);
}
h1 {
  font-size: 1.5rem;
}
.globe {
  height: 6rem;
  display: block;
  margin: 0 auto;
}
.links {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: hsl(240, 8%, 61%);
  padding: 0.6rem;
}
a {
  text-decoration: none;
  padding: 0 1rem;
  color: hsl(240, 1%, 82%);
}
.center-content {
  width: 70%;
  margin: 0 auto;
}
.color-grey {
  color: hsl(252, 8%, 49%);
}
button {
  display: block;
  margin: 0 auto;
  padding: 0.3rem 1.5rem;
  border-style: none;
  border-radius: 3px;
  background-color: hsl(252, 8%, 49%);
  color: hsl(240, 1%, 82%);
  margin-bottom: 0.5rem;
}
table,
td,
th {
  border: 1px solid hsl(252, 8%, 49%);
  text-align: center;
  padding: 0.5rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.text-right {
  text-align: end;
}
.background-grey {
  background-color: hsl(240, 8%, 61%);
  width: 100%;
  color: hsl(240, 1%, 82%);
  padding: 0.5rem 0 1rem 0;
}
.contacts {
  color: hsl(252, 8%, 49%);
}
.go-up {
  text-align: center;
  display: block;
  color: hsl(252, 8%, 49%);
  margin-bottom: 1rem;
}
footer {
  text-align: center;
  color: hsl(240, 1%, 82%);
  background-color: hsl(240, 8%, 61%);
}
footer p {
  padding: 0.6rem;
  margin: 0;
}
