$black: hsl(0, 10%, 11%);
$white: whitesmoke;
$dark-red: hsl(0, 33%, 25%);
$cherry-red: hsl(0, 68%, 39%);
$red: hsl(0, 50%, 52%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-dark {
  background-color: $black;
  color: $white;
}

.wrapper {
  padding: 30px;

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.bg-dark {
    background-color: $dark-red;
  }

  h2 {
    font-size: 40px;

    &.color-red {
      color: $cherry-red;
      cursor: pointer;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $white;
      }
    }
  }

  p {
    &:not(.empty)::before {
      content: "- ";
      color: $red;
    }
    &:first-of-type {
      font-size: 1.5em;
    }
  }
}

.box {
  border: 2px solid $white;
  padding: 30px;
  margin-bottom: 30px;
}

.container {
  margin: 30px auto;
  width: 70%;
}
