@import "variables";
@import "container";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-dark {
  background-color: $black;
  color: $white;
}

.wrapper {
  padding: $spacing-30;

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.bg-dark {
    background-color: $dark-red;
  }

  h2 {
    font-size: $spacing-30;

    &.color-red {
      color: $cherry-red;
      cursor: pointer;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $white;
      }
    }
  }

  p {
    &:first-of-type {
      font-size: 1.5em;
    }
    &:not(.empty)::before {
      content: "- ";
      color: $red;
    }
  }
}

.box {
  border: $border;
  padding: $spacing-30;
  margin-bottom: $spacing-30;
}
