.container {
  display: flex;
}

.box-border {
  height: 10rem;
  width: 10rem;
  border-top: 1rem solid #979797;
  border-left: 1rem solid #b3b3b3;
  border-right: 1rem solid #b3b3b3;
  border-bottom: 1rem solid #696969;
  margin: 2rem;
}

.box-tiangle {
  height: 0;
  width: 0;
  background-color: #b3b3b3;
  border-top: 6rem solid #8a8a8a;
  border-left: 6rem solid #b3b3b3;
  border-right: 6rem solid #b3b3b3;
  border-bottom: 6rem solid #696969;
  margin: 2rem;
}

/* kites */
.kite-box {
  margin: 0 3rem 3rem;
}

.kite1 {
  height: 0;
  width: 3rem;
  border: 3rem solid #a0a0a0;
  clip-path: polygon(50% 60%, 100% 100%, 0% 100%);
}
.kite1-2 {
  height: 0;
  width: 3rem;
  border: 3rem solid grey;
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
}
#grey {
  border: 3rem solid grey;
}

/* circles */
.container-circle {
  display: flex;
  height: 5rem;
  align-items: center;
  border: 1px solid grey;
  background-color: #dddddd;
  padding: 3rem;
}
.cirlce {
  border-radius: 50%;
}
.circle-1 {
  margin-left: 3rem;
  height: 3rem;
  width: 3rem;
  background-color: hsla(240, 19%, 41%, 0.719);
}
.circle-2 {
  height: 4rem;
  width: 4rem;
  background-color: hsla(240, 19%, 41%, 0.479);
  margin-left: -5px;
}
.circle-3 {
  height: 3rem;
  width: 3rem;
  background-color: rgba(245, 245, 252, 0.603);
  margin-left: -10px;
}
.circle-4 {
  height: 5rem;
  width: 5rem;
  background-color: rgba(76, 76, 134, 0.39);
  margin-left: -16px;
}
.circle-5 {
  height: 4.5rem;
  width: 4.5rem;
  background-color: rgba(71, 71, 99, 0.247);
  margin-left: -35px;
}
.circle-6 {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(111, 111, 165, 0.534);
  margin-left: -9px;
}
.circle-7 {
  height: 3.2rem;
  width: 3.2rem;
  background-color: rgba(99, 99, 168, 0.747);
  margin-left: 9px;
}
