* {
  font-size: 1.2rem;
  color: grey;
  margin: 0;
}
table,
tr,
td {
  border-radius: 6px;
  border: 2px solid white;
  padding: 1rem 0.5rem;
  gap: 1px;
}
table {
  width: 90%;
  margin: 2rem auto;
}

.orange {
  background-color: hsl(34, 78%, 91%);
}
.ocean {
  background-color: hsl(163, 23%, 88%);
}
.green {
  background-color: hsl(117, 30%, 83%);
}
.powderblue {
  background-color: hsl(187, 23%, 80%);
}
.col-1-style {
  text-align: end;

  font-weight: bold;
  border-bottom: 1px solid gainsboro;
}
.col-font-light {
  font-weight: lighter;
  color: hsl(0, 0%, 81%);
  font-size: 1rem;
}
