@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap");

* {
  font-family: "Zilla Slab", serif;
  font-size: 1.1rem;
  color: hsl(240, 16%, 86%);
}
.main-div {
  width: 100%;
}
header {
  width: 100%;
  height: 19rem;
  background-color: hsl(240, 30%, 19%);
  padding: 3.5rem;
  box-sizing: border-box;
}
header h1 {
  padding-bottom: 1rem;
  border-bottom: 3px solid hsl(240, 10%, 66%);
}
.header-div {
  display: flex;
}
.text-div {
  width: 35%;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  padding-right: 1rem;
}
button {
  height: 100%;
  background-color: hsla(208, 100%, 97%, 0);
  border: 2px solid hsl(240, 16%, 86%);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
}
/* main content */
section {
  height: 15rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
/* ----------?-------- */
.text-place {
  padding: 4rem 2rem;
  border: 1px solid grey;
}
.text-place h2 {
  border: 1px solid grey;
  display: inline-block;
  padding: 0 2rem 0.3rem 0;
  border-bottom: 2px solid hsla(240, 16%, 86%, 0.5);
}
.text-place p {
  border: 1px solid grey;
  text-transform: capitalize;
}

.line-1-div-1 {
  background-color: hsla(199, 48%, 49%, 0.5);
  height: 100%;
  width: 35%;
}
.line-1-div-2 {
  background-color: hsla(268, 69%, 36%, 0.5);
  height: 100%;
  width: 65%;
}

.line-2-div-1 {
  background-color: hsla(0, 48%, 49%, 0.5);
  height: 100%;
  width: 65%;
}
.line-2-div-2 {
  background-color: hsla(39, 95%, 41%, 0.5);
  height: 100%;
  width: 35%;
}

.line-3-div-1 {
  background-color: hsla(231, 48%, 49%, 0.5);
  height: 100%;
  width: 35%;
}
.line-3-div-2 {
  background-color: hsla(143, 65%, 30%, 0.5);
  height: 100%;
  width: 65%;
}
.line-4 {
  height: 17rem;
  width: 100%;
  background-color: hsl(240, 30%, 19%);
  box-sizing: border-box;
  border: 1px solid hsl(240, 30%, 19%);
  padding: 2rem 3.5rem;
}
.line-4 h2 {
  display: inline;
  padding: 0 0.5rem 0.3rem 0;
  border-bottom: 3px solid hsl(240, 10%, 66%);
}
.line-4 p {
  padding: 1rem 0;
}

/* footer */
footer {
  background-color: hsl(240, 32%, 16%);
  margin: 0;
  height: 5rem;
  padding: 2rem 3.5rem;
}
footer p:last-child {
  color: hsl(240, 7%, 45%);
  font-size: 0.9rem;
}
