* {
  margin: 0;
}
.my-table {
  width: 100%;
  border: 4px solid grey;
}
.grey {
  background-color: gainsboro;
}
.purple {
  background-color: #a993a9;
}
td {
  border: 1px solid #bba5bb;
  height: 10rem;
  width: 30%;
}
.small {
  height: 5rem;
  width: 5rem;
}
